* {
    box-sizing: border-box;
  }
body          {
    background: #F6F6F6;
    /* padding-bottom: 30px; */
    /* padding-top: 30px; */
  }
main {
    height: 100vh;
    width: 100vw;
    padding: 36px 36px;
  }

  div {
    /* border: 1px solid rgb(109, 93, 93); */
  }

  #title {
    max-width: 500px;
    height: 50px;
    border: 1px solid black;
    padding: 2px;
    margin: 5px auto;
    text-align: center;
    font-size: 25px;

  }

  #game-board-title {
      max-width: 100px;
      height: 30px;
      border: 1px solid black;
      padding: 2px;
      margin: 25px auto;
      
  }

  #game-board {
      /* max-width: 600px;
      max-height: 500px; */
      border: 1px solid black;
      padding: 10px;
      /* margin: 30px auto; */
      font-size: 12px;
  }

  #scoreboard {
      /* max-width: 400px;
      max-height: 300px; */
      border: 1px solid black;
      padding: 5px;
      /* margin: 100px auto; */
  }

  #score-container {
      margin: 100px auto;
  }

  #player-hand, #computer-hand {
      /* width: 100%; */
      border: 1px solid black;
      /* padding: 5px; */
      /* margin: 40px auto; */
      font-size: 12px;
  }

  #main-div {
      /* justify-content: center; */
      /* height: 600px; */
      /* width: 100%; */
  }

  .col-card {
    flex: 0 0 6.333333%;
    max-width: 6.333333%;
  }

  .card.empty {
      background-color: #aaa;
      box-shadow: 0 0 5px rgba(0,0,0,0.5) inset;
  }